<h1>About me:</h1> 
<p>
<b>I</b> am <b>me</b> and <b>me</b> I <b>am</b>
</p>
<% if Date.today.tuesday? %> 
<p>I <3 Tuesdays!!</p>
<% end %>

<h1>Today</h1>
<p>Today is:</p>

<em>
<%= Date.today %> 
</em> 