<form action="/profile_page" method="POST">

  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <button type="Login">Login</button>

</form>
