<h1>Title</h1>
<form action="/post_submission" method="POST">
  <input type="text" name="Title" align = "left">
<p>
<h1>Text</h1>
  <input type="text" name="Text" >
</p>
  <button type="submit">Submit</button>
</form>
